* {
	box-sizing: border-box;
}

html,
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0;
	height: 100%;
}

.container {
	display: grid;
	grid-template-columns: 225px auto;
	grid-template-rows: 75px 20px auto 75px;
}

.left {
	border-right: 1px solid black;
	float: left;
	padding: 10px;
}

.right {
	float: right;
	padding-right: 20px;
	padding-bottom: 20px;
}

.menu,
.header {
	grid-column: 1 / -1;
	border-bottom: 1px solid black;
	clear: both;
}

.footer {
	grid-column: 1 / -1;
	border-top: 1px solid black;
	clear: both;
}

#my_popup {
	width: 500px;
	height: auto;
	background-color: #8b9ab2;
	border: 3px solid white;
	border-radius: 5px;
	padding: 5px;
	display: none;
	color: black;
}

button.my_popup_close {
	float: right;
}

h1#title {
	margin: 20px 10px 20px 10px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: gray;
	padding: 5px;
}

#map {
	height: 500px;
	width: 700px;
	float: right;
}

#counties {
	width: 140px;
}

#state {
	width: 140px;
}

#alerts {
	list-style-type: none;
	margin: 5px;
}

li {
	display: block;
	width: auto !important;
	border: 3px solid gray;
	padding: 5px;
	margin: 5px;
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	text-align: left !important;
	background-clip: padding-box;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight:bold;
	font-size:12pt;
}

li:hover {
	background-color: #8b9ab2 !important;
	color: black !important;
	cursor:pointer;
}

li#fr {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px dashed black !important;
	margin: 0;
	padding: 0;
	height: 0;
	width: 0;
}

li.Severe-Thunderstorm-Warning {
	border: 3px solid black;
	background-color: yellow;
	color: black;
}

li.Tornado-Warning {
	border: 3px solid black;
	background-color: red;
}

li.confirmed {
	border: 3px solid #e900ff;
}

li.Flood-Warning {
	border: 3px solid green;
	background-color: green;
	color: white;
}

li.Tropical-Storm-Warning {
	border: 3px solid black;
}

li.Severe-Thunderstorm-Watch {
	border: 3px solid yellow;
	background-color: black;
}

li.Tornado-Watch {
	border: 3px solid red;
	background-color: black;
}

span.area {
	font-size:8pt;
	font-weight:normal;
}

span.state {
	font-size:10pt;
	font-weight:normal;
}

tr img {
	float: left;
	clear: both;
	margin-right: 5px;
	margin-left: 5px;
	height: 100%;
}

.my_popup_open {
	width: 100px;
	text-align: center;
}

.eventDisplay {
	width: auto;
}

#alertDescription {
	border: 1px solid black;
	padding: 5px;
}

#alerts td {
	padding: 2px;
	font-size: 10pt;
}

table,
th,
td {
	border: 1px solid white;
	border-collapse: collapse;
	border-radius: 5px;
	color: white;
	padding: 5px;
}