            </ul>
		</div>
		<div class="footer"></div>
	</div>
	<div id="my_popup">

			<h1 id="alertHeadline"></h1>
			<p id="alertDescription"></p>
			<table id="params">
				<tbody>
					<tr>
						<td>Wind Speed</td>
						<td id="windGust"></td>
					</tr>
					<tr>
						<td>Hail Size</td>
						<td id="hailSize"></td>
					</tr>
				</tbody>
			</table>
			<h2>Instruction</h2>
			<p id="alertResponse"></p>
			<button class="my_popup_close">Close</button>

	</div>

	<div id="alert_message " style="display:none;">

	</div>
</body>
</html>